# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html>
<head>
	<title>prueba</title>
</head>
<body>
	<h1>hola buenas tardes</h1>
<p><b>Cordial saludo estimados compañeros y tutor <br>	
Mi nombre es cristhian andrey useche, vivo en la ciudad de ibague, tengo 19 años,  soy tecnólogo en adsi egresado del sena, actualmente estudiante de ingeniería en sistemas. <br>
Correo: usechecristhian90@gmail.com <br>
Skype: usechecristhian90@gmail.com <br>
Celular: 3138770785 <br>
Atentamente <br>
Cristhian andrey useche <br>

</b>
</p>
</body>
</html>
